In [8]:
import pandas as pd
import re

In [2]:
cardekho = pd.read_excel('cardekho.xlsx')

In [173]:
cardekho.shape

(283, 4)

In [3]:
cardekho.head()

,Unnamed: 0,0,1,2
0,0,"['2014Audi A6 2.0 Tdi Premium Plus', 'Rs.18.50...","['Mileage', '17.68 kmpl', 'Engine', '1968 CC',...","['General details', '2015', 'Dealer', '95,000 ..."
1,1,"['2018Maruti Celerio Zxi Mt Bsiv', 'Rs.5.40 La...","['Mileage', '23.1 kmpl', 'Engine', '998 CC', '...","['General details', '2018', 'Dealer', '25,020 ..."
2,2,"['2013Volkswagen Vento Diesel Highline', 'Rs.5...","['Mileage', '20.54 kmpl', 'Engine', '1598 CC',...","['General details', '2013', 'Dealer', '1,61,80..."
3,3,"['2016Maruti Baleno 1.2 Zeta', 'Rs.6.50 Lakh*'...","['Mileage', '21.4 kmpl', 'Engine', '1197 CC', ...","['General details', '2016', 'Dealer', '62,950 ..."
4,4,"['2021Jeep Compass Model S 4x4 Diesel At', 'Rs...","['Mileage', '14.9 kmpl', 'Engine', '1956 CC', ...","['General details', '2021', 'Dealer', '39,850 ..."

In [119]:
cardekho[0][0]

"['2014Audi A6 2.0 Tdi Premium Plus', 'Rs.18.50 Lakh*', 'EMI starts @ Rs. 45,918 per month* Customize New Car (On-Road Price) : Rs.  42.38-63.13 Lakh*', 'View Seller Details', 'Chat']"

In [ ]:
columns =['Vehicle_Name', 'Registration_Year', 'Make', 'Model', 'Trim',
       'KMs_Driven', 'No_of_Owners', 'Transmission', 'Fuel_Type', 'Body_Type',
       'Registration', 'Mileage', 'Location', 'Selling_Price']

In [57]:
Registration_Year = cardekho[0].str.split("'").str[1].str.split(' ').str[0].str.slice(0, 4).to_list()

In [63]:
Make = cardekho[0].str.split("'").str[1].str.split(' ').str[0].str[4:].to_list()

In [72]:
Model = cardekho[0].str.split("'").str[1].str.split(" ", 1).str[1].to_list()

In [81]:
Vehicle_Name = cardekho[0].str.split("'").str[1].str[4:].to_list()

In [90]:
Mileage = cardekho[1].str.split("'").str[3].str.replace(' kmpl','').to_list()

In [92]:
cardekho[2][0]

"['General details', '2015', 'Dealer', '95,000 Kms', 'Second Owner', 'Diesel', 'Automatic', 'Active', 'TN39']"

In [103]:
KMs_Driven = cardekho[2].str.split("'").str[7].str.replace(' Kms','').to_list()

In [108]:
No_of_Owners = cardekho[2].str.split("'").str[9].str.replace(' Owner','').to_list()

In [110]:
Fuel_Type = cardekho[2].str.split("'").str[11].to_list()

In [113]:
Transmission = cardekho[2].str.split("'").str[13].to_list()

In [116]:
Registration = cardekho[2].str.split("'").str[17].to_list()

In [148]:
a = cardekho[0].str.split("'").str[3].str.replace('Rs.','').str.replace(' Lakh*','').str.replace('*','').to_list()

C:\Users\anish\AppData\Local\Temp/ipykernel_24548/2892267.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  a = cardekho[0].str.split("'").str[3].str.replace('Rs.','').str.replace(' Lakh*','').str.replace('*','').to_list()
C:\Users\anish\AppData\Local\Temp/ipykernel_24548/2892267.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  a = cardekho[0].str.split("'").str[3].str.replace('Rs.','').str.replace(' Lakh*','').str.replace('*','').to_list()

In [171]:
Selling_Price=[]
for i in a:
    try:
        Selling_Price.append(float(i)*100000)
    except ValueError:
        Selling_Price.append(i)

In [174]:
Location = ['Coimbatore'] * 283

In [175]:
Trim = ['Not available'] * 283

In [176]:
Body_Type = ['Not available'] * 283

In [177]:
cardekho_details = pd.DataFrame(zip(Vehicle_Name,Registration_Year,Make,Model,Trim,KMs_Driven,No_of_Owners,
        Transmission,Fuel_Type,Body_Type,Registration,Mileage,Location,Selling_Price),columns=('Vehicle_Name','Registration_Year','Make','Model','Trim','KMs_Driven','No_of_Owners',
        'Transmission','Fuel_Type','Body_Type','Registration','Mileage','Location','Selling_Price'))

In [178]:
cardekho_details

,Vehicle_Name,Registration_Year,Make,Model,Trim,KMs_Driven,No_of_Owners,Transmission,Fuel_Type,Body_Type,Registration,Mileage,Location,Selling_Price
0,Audi A6 2.0 Tdi Premium Plus,2014,Audi,A6 2.0 Tdi Premium Plus,Not available,"95,000",Second,Automatic,Diesel,Not available,TN39,17.68,Coimbatore,1850000.0
1,Maruti Celerio Zxi Mt Bsiv,2018,Maruti,Celerio Zxi Mt Bsiv,Not available,"25,020",First,Manual,Petrol,Not available,TN45,23.1,Coimbatore,540000.0
2,Volkswagen Vento Diesel Highline,2013,Volkswagen,Vento Diesel Highline,Not available,"1,61,800",First,Manual,Diesel,Not available,TN33,20.54,Coimbatore,550000.0
3,Maruti Baleno 1.2 Zeta,2016,Maruti,Baleno 1.2 Zeta,Not available,"62,950",First,Manual,Petrol,Not available,TN58,21.4,Coimbatore,650000.0
4,Jeep Compass Model S 4x4 Diesel At,2021,Jeep,Compass Model S 4x4 Diesel At,Not available,"39,850",First,Automatic,Diesel,Not available,TN39,14.9,Coimbatore,3150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,Maruti Omni 5 Str Std Lpg,2002,Maruti,Omni 5 Str Std Lpg,Not available,"91,760",Second,Automatic,Petrol,Not available,TN06,14.4,Coimbatore,110000.0
279,Volkswagen Vento Petrol Highline At,2014,Volkswagen,Vento Petrol Highline At,Not available,"1,22,500",First,Manual,Diesel,Not available,N/A,19.2,Coimbatore,590000.0
280,Mahindra Logan Diesel 1.5 Dlx,2010,Mahindra,Logan Diesel 1.5 Dlx,Not available,"1,20,000",First,Manual,Diesel,Not available,N/A,20.45,Coimbatore,220000.0
281,Nissan Terrano Xl 85 Ps,2015,Nissan,Terrano Xl 85 Ps,Not available,"85,000",First,Manual,Petrol,Not available,N/A,24.7,Coimbatore,600000.0
282,Maruti Alto 800 Tour H,2019,Maruti,Alto 800 Tour H,Not available,"1,42,000",Third,Manual,Diesel,Not available,N/A,12.8,Coimbatore,290000.0

In [179]:
cardekho_details.to_excel('cardekho_details.xlsx')