In [1]:
from selenium import webdriver as wb
import time
from selenium.webdriver.support.select import Select
#get the url and extract into html
driver = wb.Chrome('chromedriver.exe')
driver.get('https://droom.in/cars/used?category=Car&condition=used&include_premium=1&location=Kochi&make_model=%5B%5D&min_listing_age=1&most_recent=1&need_filters=1&page=1&rows_per_page=24&selling_format=fixed_price&show_make_model=1&status=active')
time.sleep(3)
driver.maximize_window()
time.sleep(3)

C:\Users\anish\AppData\Local\Temp/ipykernel_10248/1930487520.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')

In [2]:
link=[]
from selenium.common.exceptions import NoSuchElementException

try:
    while True:
        driver.find_element_by_xpath('//button[@class="MuiButtonBase-root MuiButton-root MuiButton-outlined jss54 MuiButton-outlinedPrimary MuiButton-outlinedSizeLarge MuiButton-sizeLarge"]').click()
        time.sleep(1)
        for i in range(len(driver.find_elements_by_xpath('//div[@class="jss192 card-body"]'))):
            link.append(driver.find_elements_by_xpath('//div[@class="jss192 card-body"]')[i].text.split('\n'))


except NoSuchElementException  as e:
    pass

C:\Users\anish\AppData\Local\Temp/ipykernel_10248/3489300843.py:6: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//button[@class="MuiButtonBase-root MuiButton-root MuiButton-outlined jss54 MuiButton-outlinedPrimary MuiButton-outlinedSizeLarge MuiButton-sizeLarge"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_10248/3489300843.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for i in range(len(driver.find_elements_by_xpath('//div[@class="jss192 card-body"]'))):
C:\Users\anish\AppData\Local\Temp/ipykernel_10248/3489300843.py:9: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  link.append(driver.find_elements_by_xpath('//div[@class="jss192 card-body"]')[i].text.split('\n'))

In [3]:
import pandas as pd

In [4]:
link = pd.DataFrame(zip(link))

In [5]:
link.to_excel('Kochi.xlsx')

In [6]:
df = pd.read_excel('Kochi.xlsx')

In [7]:
df.head()

   Unnamed: 0                                                  0
0           0  ['Hyundai Santro Xing GLS 2009', 'Used', '₹ 1,...
1           1  ['Maruti Suzuki Swift VDi 2016', 'Used', '₹ 5,...
2           2  ['Tata Altroz XZ (O) Petrol 2020', 'Used', '₹ ...
3           3  ['Nissan Micra Active XV 2014', 'Used', '₹ 3,7...
4           4  ['Hyundai Verna FLUIDIC 1.6 CRDI SX 2016', 'Us...

In [8]:
Registration_Year = df[0].str.split("'").str[1].str.rsplit(' ', 1).str[1]

In [9]:
Make = df[0].str.split("'").str[1].str.rsplit(' ', 0).str[0]

In [10]:
Model = df[0].str.split("'").str[1].str.rsplit(' ', 1).str[0]

In [11]:
Selling_Price = df[0].str.split("'").str[5].str.replace('₹','').str.replace(',','')

In [12]:
Mileage = df[0].str.split("'").str[7].str.replace('Km','').str.replace(',','')

In [13]:
Location = df[0].str.split("'").str[9]

In [14]:
Fuel_Type = df[0].str.split("'").str[11]

In [15]:
Transmission = df[0].str.split("'").str[13]

In [16]:
No_of_Owners = df[0].str.split("'").str[15].str.split(' ').str[0]

In [17]:
df = pd.concat([Make,Model,Registration_Year,Mileage,Fuel_Type,No_of_Owners,Transmission,Location,Selling_Price],axis=1)

In [18]:
df.columns = ['Make','Model','Registration_Year','Mileage','Fuel_Type','No_of_Owners','Transmission','Location','Selling_Price']

In [19]:
df_Kochi = df

In [20]:
df_Kochi.to_excel('df_Kochi.xlsx')