In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
olx = pd.read_excel('ola.xlsx')

In [4]:
olx.head()

,Unnamed: 0,0,1,2,3,4,5
0,0,Hyundai I20 (2010),Diesel Asta,DIESEL\n153000.0 KM\nMANUAL,"₹ 3,40,000","['Owner', '2nd', 'Location', 'RS Puram, Coimba...","['Description', 'Vehicle in good condition. Al..."
1,1,Volkswagen Ameo (2020),1.5 TDI Highline Plus,DIESEL\n31000.0 KM\nMANUAL,"₹ 8,90,000","['Owner', '1st', 'Location', 'Gandhipuram, Coi...","['Description', 'VW Ameo Highline Diesel Manua..."
2,2,Hyundai Getz (2007),GVS,PETROL\n70000 KM\nMANUAL,"₹ 1,30,000","['Owner', 'Third', 'Location', 'Gandhima Nagar...","['Description', 'Make: Hyundai', 'Year: 2007',..."
3,3,Mahindra Bolero Pik-Up (2018),FB 1.7T,DIESEL\n120000 KM\nMANUAL,"₹ 6,25,000","['Owner', 'First', 'Location', 'Gandhima Nagar...","['Description', 'Make: Mahindra', 'Year: 2018'..."
4,4,Maruti Suzuki Wagon R Duo (2010),Others,PETROL\n118000.0 KM\nMANUAL,"₹ 2,35,000","['Owner', '2nd', 'Location', 'Sri Rajalakshmi ...","['Description', 'Good Maintenance vehicle ,Pow..."

In [5]:
columns =['Vehicle_Name', 'Registration_Year', 'Make', 'Model', 'Trim',
       'KMs_Driven', 'No_of_Owners', 'Transmission', 'Fuel_Type', 'Body_Type',
       'Registration', 'Mileage', 'Location', 'Selling_Price']

In [21]:
Vehicle_Name = olx[0].str.split('(').str[0].to_list()

In [26]:
Make = olx[0].str.split('(').str[0].str.split(' ').str[0].to_list()

In [55]:
Model = olx[0].str.split('(').str[0].str.split(" ", 1).str[1:].to_list()

In [72]:
No_of_Owners = olx[4].str.split("'").str[3].to_list()

In [107]:
Location = olx[4].str.split("'").str[7].str.split(',').str[1]

In [121]:
Fuel_Type = olx[2].str.split('\n').str[0]

In [125]:
KMs_Driven = olx[2].str.split('\n').str[1].str.replace('KM','')

In [126]:
Transmission = olx[2].str.split('\n').str[2]

In [131]:
Selling_Price = olx[3].str.split('₹').str[1]

In [136]:
Registration_Year = olx[0].str.split('(').str[1].str.replace(')','').to_list()

C:\Users\anish\AppData\Local\Temp/ipykernel_23372/412152159.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Registration_Year = olx[0].str.split('(').str[1].str.replace(')','').to_list()

In [141]:
len(olx)

216

In [142]:
Trim = ['Not available'] * 216

In [144]:
Body_Type = ['Not available'] * 216

In [145]:
Mileage = ['Not available'] * 216

In [147]:
Registration = ['Not available'] * 216

In [150]:
olx_details = pd.DataFrame(zip(Vehicle_Name,Registration_Year,Make,Model,Trim,KMs_Driven,No_of_Owners,
        Transmission,Fuel_Type,Body_Type,Registration,Mileage,Location,Selling_Price),columns=('Vehicle_Name','Registration_Year','Make','Model','Trim','KMs_Driven','No_of_Owners',
        'Transmission','Fuel_Type','Body_Type','Registration','Mileage','Location','Selling_Price'))

In [151]:
olx_details

,Vehicle_Name,Registration_Year,Make,Model,Trim,KMs_Driven,No_of_Owners,Transmission,Fuel_Type,Body_Type,Registration,Mileage,Location,Selling_Price
0,Hyundai I20,2010,Hyundai,[I20 ],Not available,153000.0,2nd,MANUAL,DIESEL,Not available,Not available,Not available,Coimbatore,"3,40,000"
1,Volkswagen Ameo,2020,Volkswagen,[Ameo ],Not available,31000.0,1st,MANUAL,DIESEL,Not available,Not available,Not available,Coimbatore,"8,90,000"
2,Hyundai Getz,2007,Hyundai,[Getz ],Not available,70000,Third,MANUAL,PETROL,Not available,Not available,Not available,Coimbatore,"1,30,000"
3,Mahindra Bolero Pik-Up,2018,Mahindra,[Bolero Pik-Up ],Not available,120000,First,MANUAL,DIESEL,Not available,Not available,Not available,Coimbatore,"6,25,000"
4,Maruti Suzuki Wagon R Duo,2010,Maruti,[Suzuki Wagon R Duo ],Not available,118000.0,2nd,MANUAL,PETROL,Not available,Not available,Not available,Coimbatore,"2,35,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,Volkswagen Jetta,2015,Volkswagen,[Jetta ],Not available,120000.0,1st,MANUAL,PETROL,Not available,Not available,Not available,Coimbatore,"6,50,000"
212,Mahindra Xuv500,2013,Mahindra,[Xuv500 ],Not available,999999,Second,MANUAL,DIESEL,Not available,Not available,Not available,Coimbatore,"7,00,000"
213,Maruti Suzuki Ertiga,2021,Maruti,[Suzuki Ertiga ],Not available,20000,First,AUTOMATIC,PETROL,Not available,Not available,Not available,Coimbatore,"8,00,000"
214,Ford Figo,2011,Ford,[Figo ],Not available,114000.0,1st,MANUAL,DIESEL,Not available,Not available,Not available,Coimbatore,"2,25,000"
215,Honda Accord,2010,Honda,[Accord ],Not available,65700.0,1st,MANUAL,PETROL,Not available,Not available,Not available,Coimbatore,"5,90,000"

In [152]:
olx_details.to_excel('olx_details.xlsx')

In [ ]:
columns =['Vehicle_Name', 'Registration_Year', 'Make', 'Model', 'Trim',
       'KMs_Driven', 'No_of_Owners', 'Transmission', 'Fuel_Type', 'Body_Type',
       'Registration', 'Mileage', 'Location', 'Selling_Price']