Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [6]:
#import selenium,webdriver,upload webdriver.exe
from selenium import webdriver as wb
import time
from selenium.webdriver.support.select import Select
time.sleep(10)

#get the url and extract into html
driver = wb.Chrome('chromedriver.exe')
driver.get('https://www.naukri.com/')
time.sleep(10)

#Locate the search bar
Job_name = driver.find_element_by_class_name('suggestor-input')

#Enter the search text
Job_name.send_keys('Data Analyst')

#Enter the location bar
Location = driver.find_element_by_class_name('locationSugg')

#Enter the location text
Location.find_element_by_class_name('suggestor-input ').send_keys('Bangalore/Bengaluru')

time.sleep(10)

#click the crosswrapper
from selenium.common.exceptions import NoSuchElementException
try:
    driver.find_element_by_xpath('//div[@class="app-icon app-icon-cross crossIcon"]').click()
except NoSuchElementException as error:
        pass
time.sleep(10)

#click the search button
driver.find_element_by_xpath('//div[@class="qsbSubmit"]').click()
time.sleep(10)

#extract the product card
a = driver.find_elements_by_class_name('jobTupleHeader')

#From the extracted data we find that totally there are 7 datas but for some cases there were no ratings & no of ratings
# a template which was created for all cases,
c,Job_Role=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Job_Role.append(a[i].text.split('\n')[0])
    else:
        Job_Role.append(a[i].text.split('\n')[0])

c,Company=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Company.append(a[i].text.split('\n')[1])
    else:
        Company.append(a[i].text.split('\n')[1])

#In this case,the order changes from here on, so change the else condition as not available for not matching the if ondition
c,Ratings=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Ratings.append(a[i].text.split('\n')[2])
    else:
        Ratings.append('Not available')
        
#In this case,the order changes, so change the else condition as not available for not matching the if ondition
c,No_of_Reviews=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        No_of_Reviews.append(a[i].text.split('\n')[3])
    else:
        No_of_Reviews.append('Not available')

#Change the order based on the previous cases
c,Experience=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Experience.append(a[i].text.split('\n')[4])
    else:
        Experience.append(a[i].text.split('\n')[2])
        
c,Salary=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Salary.append(a[i].text.split('\n')[5])
    else:
        Salary.append(a[i].text.split('\n')[3])
        
c,Location=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Location.append(a[i].text.split('\n')[6])
    else:
        Location.append(a[i].text.split('\n')[4])
        
#import pandas for preparing dataframes
import pandas as pd

#Arrange the rows based on the category and zip it for the dataframe
df_1 = pd.DataFrame(zip(Job_Role,Company,Ratings,No_of_Reviews,Experience,Salary,Location),columns=('Job_Role','Company','Ratings','No_of_Reviews','Experience','Salary','Location'))
df_1.index = [x for x in range(1, len(df_1.values)+1)]
#Since 10 results only required, we use iloc
df_1.iloc[0:10]

C:\Users\anish\AppData\Local\Temp/ipykernel_15460/367647213.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/367647213.py:13: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Job_name = driver.find_element_by_class_name('suggestor-input')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/367647213.py:19: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Location = driver.find_element_by_class_name('locationSugg')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/367647213.py:22: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Location.find_element_by_class_name('suggestor-input ').send_keys('Bangalore/Bengaluru')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/367647213.py:29: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//div[@class="app-icon app-icon-cross crossIcon"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/367647213.py:35: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//div[@class="qsbSubmit"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/367647213.py:39: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  a = driver.find_elements_by_class_name('jobTupleHeader')

,Job_Role,Company,Ratings,No_of_Reviews,Experience,Salary,Location
1,Data Analyst / Business Analyst,METRO Cash & Carry,4.2,(958 Reviews),3-8 Yrs,"15,00,000 - 27,50,000 PA.",Bangalore/Bengaluru
2,Data Analyst / Business Analyst,METRO Cash & Carry,4.2,(958 Reviews),3-8 Yrs,"15,00,000 - 27,50,000 PA.",Bangalore/Bengaluru
3,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,Not available,Not available,2-7 Yrs,"10,00,000 - 20,00,000 PA.","Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
4,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,Not available,Not available,5-10 Yrs,Not disclosed,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
5,Data Analyst,upGrad,3.1,(338 Reviews),1-3 Yrs,Not disclosed,Bangalore/Bengaluru
6,Associate Professional Data Analyst,DXC Technology,3.8,(5740 Reviews),3-6 Yrs,Not disclosed,Bangalore/Bengaluru
7,Business and Data Analyst,CAREERDOST ENTERPRISE,Not available,Not available,0-5 Yrs,"15,00,000 - 30,00,000 PA.",Bangalore/Bengaluru
8,Senior Data Analyst,Flipkart,4.2,(9160 Reviews),3-7 Yrs,Not disclosed,Bangalore/Bengaluru
9,Senior Data Analyst,Thomson Reuters,4.3,(1187 Reviews),2-4 Yrs,Not disclosed,Bangalore/Bengaluru
10,Data Analyst,referral,Not available,Not available,2-5 Yrs,Not disclosed,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [8]:
#import selenium,webdriver,upload webdriver.exe
from selenium import webdriver as wb
import time
from selenium.webdriver.support.select import Select

#get the url and extract into html
driver = wb.Chrome('chromedriver.exe')
driver.get('https://www.naukri.com/')
time.sleep(10)
#Locate the search bar
Job_name = driver.find_element_by_class_name('suggestor-input')

#Enter the search text
Job_name.send_keys('Data Scientist')
time.sleep(10)
#Enter the location bar
Location = driver.find_element_by_class_name('locationSugg')

#Enter the location text
Location.find_element_by_class_name('suggestor-input ').send_keys('Bangalore')
time.sleep(10)
#Click on the Bangalore icon on the drop down
driver.find_element_by_xpath('//div[@title="Bangalore/Bengaluru"]').click()
time.sleep(10)
#click the crosswrapper
from selenium.common.exceptions import NoSuchElementException
try:
    driver.find_element_by_xpath('//div[@class="app-icon app-icon-cross crossIcon"]').click()
except NoSuchElementException as error:
        pass
time.sleep(10)    
#click the search button
driver.find_element_by_xpath('//div[@class="qsbSubmit"]').click()
time.sleep(10)
#extract the product card
a = driver.find_elements_by_class_name('jobTupleHeader')

#From the extracted data we find that totally there are 7 datas but for some cases there were no ratings & no of ratings
# a template which was created for all cases,
c,Job_Role=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Job_Role.append(a[i].text.split('\n')[0])
    else:
        Job_Role.append(a[i].text.split('\n')[0])


c,Company=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Company.append(a[i].text.split('\n')[1])
    else:
        Company.append(a[i].text.split('\n')[1])

#In this case,the order changes from here on, so change the else condition as not available for not matching the if ondition
c,Ratings=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Ratings.append(a[i].text.split('\n')[2])
    else:
        Ratings.append('Not available')
        
#In this case,the order changes, so change the else condition as not available for not matching the if ondition
c,No_of_Reviews=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        No_of_Reviews.append(a[i].text.split('\n')[3])
    else:
        No_of_Reviews.append('Not available')
        
#Change the order based on the previous cases
c,Experience=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Experience.append(a[i].text.split('\n')[4])
    else:
        Experience.append(a[i].text.split('\n')[2])
        
c,Salary=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Salary.append(a[i].text.split('\n')[5])
    else:
        Salary.append(a[i].text.split('\n')[3])
        
c,Location=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Location.append(a[i].text.split('\n')[6])
    else:
        Location.append(a[i].text.split('\n')[4])
        
#import pandas for preparing dataframes
import pandas as pd

#Arrange the rows based on the category and zip it for the dataframe
df_2 = pd.DataFrame(zip(Job_Role,Company,Ratings,No_of_Reviews,Experience,Salary,Location),columns=('Job_Role','Company','Ratings','No_of_Reviews','Experience','Salary','Location'))
df_2.index = [x for x in range(1, len(df_2.values)+1)]
#Since 10 results only required, we use iloc
df_2.iloc[0:10]

C:\Users\anish\AppData\Local\Temp/ipykernel_15460/4281197824.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/4281197824.py:11: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Job_name = driver.find_element_by_class_name('suggestor-input')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/4281197824.py:17: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Location = driver.find_element_by_class_name('locationSugg')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/4281197824.py:20: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Location.find_element_by_class_name('suggestor-input ').send_keys('Bangalore')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/4281197824.py:23: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//div[@title="Bangalore/Bengaluru"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/4281197824.py:28: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//div[@class="app-icon app-icon-cross crossIcon"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/4281197824.py:33: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//div[@class="qsbSubmit"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/4281197824.py:36: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  a = driver.find_elements_by_class_name('jobTupleHeader')

,Job_Role,Company,Ratings,No_of_Reviews,Experience,Salary,Location
1,Senior Data Scientist,UPL,4.3,(1198 Reviews),3-6 Yrs,Not disclosed,"Bangalore/Bengaluru, Mumbai (All Areas)"
2,Sr. Analyst - Applied Data Scientist,Tesco,4.1,(859 Reviews),3-5 Yrs,Not disclosed,Bangalore/Bengaluru
3,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,4.4,(1099 Reviews),5-10 Yrs,Not disclosed,Bangalore/Bengaluru
4,Data Scientist,UPL,4.3,(1198 Reviews),1-4 Yrs,Not disclosed,"Bangalore/Bengaluru, Mumbai (All Areas)"
5,Expert Data Scientist,UPL,4.3,(1198 Reviews),6-9 Yrs,"20,00,000 - 30,00,000 PA.","Bangalore/Bengaluru, Mumbai (All Areas)"
6,Principal Data Scientist,UPL,4.3,(1198 Reviews),12-16 Yrs,Not disclosed,"Bangalore/Bengaluru, Mumbai (All Areas)"
7,Analyst - Applied Data Scientist,Tesco,4.1,(859 Reviews),1-2 Yrs,Not disclosed,Bangalore/Bengaluru
8,Research Data Scientist,Mavenir,3.9,(150 Reviews),4-9 Yrs,Not disclosed,Bangalore/Bengaluru
9,Senior Data Scientist Grade12,Flipkart,4.2,(9160 Reviews),5-10 Yrs,Not disclosed,Bangalore/Bengaluru
10,Senior Data Scientist Grade12,Flipkart,4.2,(9160 Reviews),5-7 Yrs,Not disclosed,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill, Designations, and Companies” field.
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code. No step is to be done manually.

In [11]:
#import selenium,webdriver,upload webdriver.exe
from selenium import webdriver as wb
import time
from selenium.webdriver.support.select import Select
time.sleep(10)
#get the url and extract into html
driver = wb.Chrome('chromedriver.exe')
driver.get('https://www.naukri.com/')
time.sleep(10)
#Locate the search bar
Job_name = driver.find_element_by_class_name('suggestor-input')

#Enter the search text
Job_name.send_keys('Data Scientist')
time.sleep(10)
#click the crosswrapper
from selenium.common.exceptions import NoSuchElementException
try:
    driver.find_element_by_xpath('//div[@class="app-icon app-icon-cross crossIcon"]').click()
except NoSuchElementException as error:
        pass
time.sleep(10)    
#click the search button
driver.find_element_by_xpath('//div[@class="qsbSubmit"]').click()
time.sleep(10)

#Click on the bangalore dropdown using xpath
driver.find_element_by_xpath(".//*[contains(text(), 'Delhi / NCR')]").click()
time.sleep(10)

#Click on the bangalore dropdown using xpath
driver.find_element_by_xpath(".//*[contains(text(), '3-6 Lakhs')]").click()
time.sleep(10)
#extract the product card
a = driver.find_elements_by_class_name('jobTupleHeader')

#From the extracted data we find that totally there are 7 datas but for some cases there were no ratings & no of ratings
# a template which was created for all cases,
c,Job_Role=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Job_Role.append(a[i].text.split('\n')[0])
    else:
        Job_Role.append(a[i].text.split('\n')[0])
        
c,Company=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Company.append(a[i].text.split('\n')[1])
    else:
        Company.append(a[i].text.split('\n')[1])

#In this case,the order changes from here on, so change the else condition as not available for not matching the if ondition
c,Ratings=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Ratings.append(a[i].text.split('\n')[2])
    else:
        Ratings.append('Not available')
        
#In this case,the order changes, so change the else condition as not available for not matching the if ondition
c,No_of_Reviews=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        No_of_Reviews.append(a[i].text.split('\n')[3])
    else:
        No_of_Reviews.append('Not available')
        
#Change the order based on the previous cases
c,Experience=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Experience.append(a[i].text.split('\n')[4])
    else:
        Experience.append(a[i].text.split('\n')[2])
        
c,Salary=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Salary.append(a[i].text.split('\n')[5])
    else:
        Salary.append(a[i].text.split('\n')[3])
        
c,Location=[],[]
for i in a:
    c.append(len(i.text.split('\n')))
for i in range(20):
    if c[i]==7:
        Location.append(a[i].text.split('\n')[6])
    else:
        Location.append(a[i].text.split('\n')[4])
        
#import pandas for preparing dataframes
import pandas as pd

#Arrange the rows based on the category and zip it for the dataframe
df_3 = pd.DataFrame(zip(Job_Role,Company,Ratings,No_of_Reviews,Experience,Salary,Location),columns=('Job_Role','Company','Ratings','No_of_Reviews','Experience','Salary','Location'))
df_3.index = [x for x in range(1, len(df_3.values)+1)]
#Since 10 results only required, we use iloc
df_3.iloc[0:10]

C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3234150472.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3234150472.py:11: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Job_name = driver.find_element_by_class_name('suggestor-input')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3234150472.py:19: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//div[@class="app-icon app-icon-cross crossIcon"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3234150472.py:24: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//div[@class="qsbSubmit"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3234150472.py:28: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath(".//*[contains(text(), 'Delhi / NCR')]").click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3234150472.py:32: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath(".//*[contains(text(), '3-6 Lakhs')]").click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3234150472.py:35: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  a = driver.find_elements_by_class_name('jobTupleHeader')

,Job_Role,Company,Ratings,No_of_Reviews,Experience,Salary,Location
1,Data Scientist - Internet Jobs - II,Jobs Territory,Not available,Not available,3-6 Yrs,Not disclosed,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
2,Data Scientist,Ashkom Media India Private Limited,3.7,(22 Reviews),3-6 Yrs,Not disclosed,"Noida, Bangalore/Bengaluru"
3,Junior Data Scientist,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,Not available,Not available,1-2 Yrs,"4,00,000 - 6,00,000 PA.",Noida
4,Associate Scientist - Data Engineering,AXA Technology Services India Pvt. Ltd,4.9,(3 Reviews),2-5 Yrs,Not disclosed,Gurgaon/Gurugram
5,Data Scientist || Software Company || Immediat...,Skyleaf Consultants,Not available,Not available,3-8 Yrs,Not disclosed,"Gurgaon/Gurugram, Bangalore/Bengaluru"
6,Data Scientist (freelance),2Coms,Not available,Not available,2-7 Yrs,"4,75,000 - 9,75,000 PA.","New Delhi, Delhi"
7,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,Not available,Not available,0-4 Yrs,"5,00,000 - 7,00,000 PA.","Hyderabad/Secunderabad, Pune, Chennai, Delhi /..."
8,Data Scientist,BlackBuck,4.0,(935 Reviews),3-7 Yrs,Not disclosed,"Gurgaon, Bengaluru"
9,Associate Data Scientist,Optum,4.1,(1554 Reviews),1-5 Yrs,Not disclosed,Gurgaon/Gurugram
10,Hiring For Data Analyst and Data Scientist For...,Shadow Placements,Not available,Not available,3-7 Yrs,"5,00,000 - 13,00,000 PA.","Noida, Gurgaon/Gurugram, Delhi / NCR"

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand
Product Description
Price The attributes which you have to scrape is ticked marked in the below image. To scrape the data you have to go through following steps:
Go to Flipkart webpage by url : https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon
After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual. ASSIGNMENT 2
After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then click on it.
Now scrape data from this page as usual
Repeat this until you get data for 100 sunglasses. Note: That all of the above steps have to be done by coding only and not manually.

In [12]:
#import selenium,webdriver,upload webdriver.exe
from selenium import webdriver as wb
import time
from selenium.webdriver.support.select import Select

#get the url and extract into html
driver = wb.Chrome('chromedriver.exe')
driver.get('https://www.flipkart.com/')
time.sleep(10)
#click on the login close page
Login = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
time.sleep(10)
#locate the search bar give input
driver.find_element_by_name('q').send_keys('sun glasses')

#click on the search button
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()
time.sleep(10)
#extract  the page
page = driver.find_elements_by_class_name('ge-49M')

#extract the first ten pages
link = []
for i in page:
    link.append(i.get_attribute('href'))
time.sleep(10)    
#since we need 100 results we need only first 3 pages
a = link[0:3]
time.sleep(10)
#Extract the first three pages & its product data
product = []
for el in a:
    #import selenium,webdriver,upload webdriver.exe
    from selenium import webdriver as wb
    import time
    from selenium.webdriver.support.select import Select
    driver = wb.Chrome('chromedriver.exe')
    driver.get(el)
    for i in driver.find_elements_by_class_name('_2B099V'):
        product.append(i)
        
#Extract Product_brand by its class_name
Product_Brand = []
for i in product:
    Product_Brand.append(i.find_elements_by_class_name('_2WkVRV')[0].text)

#Extract Product_Name by its class_name
Product_Name = []
for i in product:
    Product_Name.append(i.find_elements_by_class_name('IRpwTa')[0].get_attribute('title'))
    
#Extract Product_Name by its class_name
Product_Price = []
for i in product:
    Product_Price.append(i.find_elements_by_class_name('_30jeq3')[0].text)


#Extract Product_Name by its class_name
Product_Discount = []
for i in product:
    Product_Discount.append(i.find_element_by_class_name('_25b18c').find_element_by_tag_name('span').text)
    
# Import pandas to create pandas
import pandas as pd

# Extract dataFrame
df_4 = pd.DataFrame(zip(Product_Name,Product_Brand,Product_Price,Product_Discount),columns=(('Product_Name','Product_Brand','Product_Price','Product_Discount')))
df_4.index = [x for x in range(1, len(df_4.values)+1)]
#Extracted data for first 100 sunglasess
df_4.iloc[0:100]

C:\Users\anish\AppData\Local\Temp/ipykernel_15460/752271022.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/752271022.py:11: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  Login = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/752271022.py:14: DeprecationWarning: find_element_by_name is deprecated. Please use find_element(by=By.NAME, value=name) instead
  driver.find_element_by_name('q').send_keys('sun glasses')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/752271022.py:17: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/752271022.py:20: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  page = driver.find_elements_by_class_name('ge-49M')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/752271022.py:37: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/752271022.py:39: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  for i in driver.find_elements_by_class_name('_2B099V'):
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/752271022.py:61: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Product_Discount.append(i.find_element_by_class_name('_25b18c').find_element_by_tag_name('span').text)
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/752271022.py:61: DeprecationWarning: find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead
  Product_Discount.append(i.find_element_by_class_name('_25b18c').find_element_by_tag_name('span').text)

,Product_Name,Product_Brand,Product_Price,Product_Discount
1,UV Protection Over-sized Sunglasses (64),PIRASO,₹399,84% off
2,"Gradient, Toughened Glass Lens, UV Protection ...",Singco India,₹630,78% off
3,UV Protection Wayfarer Sunglasses (Free Size),Fastrack,₹647,28% off
4,UV Protection Rectangular Sunglasses (Free Size),Fastrack,₹639,20% off
5,"UV Protection, Polarized Wayfarer Sunglasses (...",SUNBEE,₹283,78% off
...,...,...,...,...
96,UV Protection Over-sized Sunglasses (60),PIRASO,₹399,84% off
97,"Gradient, Toughened Glass Lens, UV Protection ...",Singco India,₹630,78% off
98,UV Protection Aviator Sunglasses (56),PIRASO,₹349,86% off
99,"UV Protection, Mirrored Sports Sunglasses (62)",NuVew,₹345,72% off
100,UV Protection Aviator Sunglasses (54),PIRASO,₹224,85% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace. When you will open the above link you will reach to the below shown webpage . As shown in the above page you have to scrape the tick marked attributes.These are:

Rating
Review summary
Full review
You have to scrape this data for first 100 reviews. Note: All the steps required during scraping should be done through code only and not manually.

In [22]:
#import selenium,webdriver,upload webdriver.exe
from selenium import webdriver as wb
import time
from selenium.webdriver.support.select import Select
time.sleep(10)
#get the url and extract into html
driver = wb.Chrome('chromedriver.exe')
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC')
time.sleep(10)
#find the next page url and click
driver.find_elements_by_class_name('_3TOw5k')[0].find_elements_by_tag_name('a')[14].click()
time.sleep(10)
#Extract the first 10 pages
nex = []
for i in driver.find_elements_by_class_name('ge-49M'):
    nex.append(i.get_attribute('href'))
time.sleep(10)   
#extract data from 10 pages and store it in review
review = []
for el in nex:
    from selenium import webdriver as wb
    import time
    from selenium.webdriver.support.select import Select
    driver = wb.Chrome('chromedriver.exe')
    driver.get(el)
    for i in driver.find_elements_by_class_name('_27M-vq'):
        review.append(i)
time.sleep(10)       
# extract rating(star & header) 
rating = []
for i in review:
    rating.append(i.find_element_by_class_name('row').text.split('\n'))
    
#seperate the star & heading
review_star,review_heading = (list(zip(*rating)))

# extract description using the class name
Review_description = []
for i in review:
    Review_description.append(i.find_element_by_class_name('t-ZTKy').text.replace('\n',''))
    
#import pandas for preapring dataframe
import pandas as pd

#inally zip with proper titles

df_5 = pd.DataFrame(zip(review_star,review_heading,Review_description),columns=(('Review_star','Review_heading','Review_description')))                  
df_5.index = [x for x in range(1, len(df_5.values)+1)]
df_5

C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3818231203.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3818231203.py:11: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  driver.find_elements_by_class_name('_3TOw5k')[0].find_elements_by_tag_name('a')[14].click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3818231203.py:11: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  driver.find_elements_by_class_name('_3TOw5k')[0].find_elements_by_tag_name('a')[14].click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3818231203.py:15: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  for i in driver.find_elements_by_class_name('ge-49M'):
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3818231203.py:24: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3818231203.py:26: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  for i in driver.find_elements_by_class_name('_27M-vq'):
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3818231203.py:32: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  rating.append(i.find_element_by_class_name('row').text.split('\n'))
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3818231203.py:40: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Review_description.append(i.find_element_by_class_name('t-ZTKy').text.replace('\n',''))

,Review_star,Review_heading,Review_description
1,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
4,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
5,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
86,5,Excellent,A perfect phone and a good battery super camer...
87,5,Super!,This is my first ever iPhone.And I truly don’t...
88,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
89,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
90,5,Best in the market!,Don’t expect much from front camera… especiall...

In [20]:
df_5

,Review_star,Review_heading,Review_description
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Excellent,A perfect phone and a good battery super camer...
96,5,Super!,This is my first ever iPhone.And I truly don’t...
97,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
98,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
99,5,Wonderful,Nice value for money good and best price I pho...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

Brand
Product Description
Price As shown in the below image, you have to scrape the tick marked attributes.

In [23]:
#import selenium,webdriver,upload webdriver.exe
from selenium import webdriver as wb
import time
from selenium.webdriver.support.select import Select
time.sleep(10)
#get the url and extract into html
driver = wb.Chrome('chromedriver.exe')
driver.get('https://www.flipkart.com/')
time.sleep(10)
#click on the login close page
Login = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
time.sleep(10)
#locate the search bar give input
driver.find_element_by_name('q').send_keys('sneakers')
time.sleep(10)
#click on the search button
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()
time.sleep(10)
#extract  the page
page = driver.find_elements_by_class_name('ge-49M')
time.sleep(10)
#extract the first ten pages
link = []
for i in page:
    link.append(i.get_attribute('href'))
time.sleep(10)    
#since we need 100 results we need only first 3 pages
a = link[0:3]
time.sleep(10)
#Extract the first three pages & its product data
product = []
for el in a:
    #import selenium,webdriver,upload webdriver.exe
    from selenium import webdriver as wb
    import time
    from selenium.webdriver.support.select import Select
    driver = wb.Chrome('chromedriver.exe')
    driver.get(el)
    for i in driver.find_elements_by_class_name('_2B099V'):
        product.append(i)
time.sleep(10)        
#Extract Product_brand by its class_name
Product_Brand = []
for i in product:
    Product_Brand.append(i.find_elements_by_class_name('_2WkVRV')[0].text)
    
#Extract Product_Name by its class_name
Product_Name = []
for i in product:
    Product_Name.append(i.find_elements_by_class_name('IRpwTa')[0].get_attribute('title'))
    
#Extract Product_Name by its class_name
Product_Price = []
for i in product:
    Product_Price.append(i.find_elements_by_class_name('_30jeq3')[0].text)
    
#Extract Product_Name by its class_name
Product_Discount = []
for i in product:
    Product_Discount.append(i.find_element_by_class_name('_25b18c').find_element_by_tag_name('span').text)
    
# Import pandas to create pandas
import pandas as pd

# Extract dataFrame
df_6 = pd.DataFrame(zip(Product_Name,Product_Brand,Product_Price,Product_Discount),columns=(('Product_Name','Product_Brand','Product_Price','Product_Discount')))
df_6.index = [x for x in range(1, len(df_6.values)+1)]
#Extracted data for first 100 sunglasess
df_6.iloc[0:100:1]

C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3319594789.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3319594789.py:11: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  Login = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3319594789.py:14: DeprecationWarning: find_element_by_name is deprecated. Please use find_element(by=By.NAME, value=name) instead
  driver.find_element_by_name('q').send_keys('sneakers')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3319594789.py:17: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3319594789.py:20: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  page = driver.find_elements_by_class_name('ge-49M')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3319594789.py:37: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3319594789.py:39: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  for i in driver.find_elements_by_class_name('_2B099V'):
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3319594789.py:60: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Product_Discount.append(i.find_element_by_class_name('_25b18c').find_element_by_tag_name('span').text)
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3319594789.py:60: DeprecationWarning: find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead
  Product_Discount.append(i.find_element_by_class_name('_25b18c').find_element_by_tag_name('span').text)

,Product_Name,Product_Brand,Product_Price,Product_Discount
1,Sneakers Sneakers For Men,URBANBOX,₹158,84% off
2,Modern Trendy Sneakers Shoes Sneakers For Men,BRUTON,₹245,81% off
3,Sneakers For Men,HRX by Hrithik Roshan,₹692,80% off
4,"Stylish Comfortable Lightweight, Breathable Wa...",BIRDE,₹269,73% off
5,Sneakers For Men,Magnolia,₹351,64% off
...,...,...,...,...
96,Sneakers For Men,ROCKFIELD,₹549,45% off
97,WATERPROOF-05cFULLWHITE Sneakers For Men,ASIAN,₹549,45% off
98,Classy Sneakers For Men,Stefano Rads,₹201,71% off
99,WATERPROOF-05cFULLBLACK Sneakers For Men,ASIAN,₹549,45% off
100,Sneakers For Men,Robbie jones,₹424,57% off

Q7: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [24]:
#import selenium,webdriver,upload webdriver.exe
from selenium import webdriver as wb
import time
from selenium.webdriver.support.select import Select
time.sleep(10)
#get the url and extract into html
driver = wb.Chrome('chromedriver.exe')
driver.get('https://www.myntra.com/shoes')
time.sleep(10)
#Select the colour checklist and click
driver.find_element_by_xpath('//li[@class="colour-listItem"]').click()
time.sleep(10)
#Select the price checklist and click
driver.find_element_by_class_name('price-list').find_elements_by_tag_name('li')[1].click()
time.sleep(10)
#extract the product data
driver.find_elements_by_class_name('product-productMetaInfo')[0].text
time.sleep(10)
#extract page url
page = driver.find_element_by_link_text('2').get_attribute('href')

time.sleep(10)#extract all pages
li = []
for i in range(1,19):
    li.append(page[:-1]+str(i))
time.sleep(10)    
#As we need 100 products,we extract only 3 pages
k =li[0:2]
time.sleep(10)
#extract data from 3 pages
a = []
for el in k:
    from selenium import webdriver
    import time

    driver=webdriver.Chrome('chromedriver.exe')
    driver.get(el)


    for i in driver.find_elements_by_class_name('product-base'):
        a.append(i)
time.sleep(10)        
#Extract product name info
Product_Name=[]
for i in range(100):
    Product_Name.append(a[i].find_element_by_class_name('product-product').text.split('\n')[0])
    
#Extract product brand info
Product_Brand=[]
for i in range(100):
    Product_Brand.append(a[i].find_element_by_class_name('product-brand').text.split('\n')[0])

#Extract product price info
Product_Price=[]
for i in range(100):
    Product_Price.append(a[i].find_elements_by_class_name('product-price')[0].text)
    #dataframe for 100 products
    
    
#Extract product rate info
Rate = []
for i in range(100):
    Rate.append(Product_Price[i].split('Rs.')[1])
    
#import pandas for preparing dataframe
import pandas as pd
df_7 = pd.DataFrame(zip(Product_Name,Product_Brand,Rate),columns=('Product_Name','Product_Brand','Rate'))
df_7.index = [x for x in range(1, len(df_7.values)+1)]
#only for 100 products so we use iloc
df_7.iloc[0:100]

C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2943841544.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2943841544.py:11: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath('//li[@class="colour-listItem"]').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2943841544.py:14: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  driver.find_element_by_class_name('price-list').find_elements_by_tag_name('li')[1].click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2943841544.py:14: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  driver.find_element_by_class_name('price-list').find_elements_by_tag_name('li')[1].click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2943841544.py:17: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  driver.find_elements_by_class_name('product-productMetaInfo')[0].text
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2943841544.py:20: DeprecationWarning: find_element_by_link_text is deprecated. Please use find_element(by=By.LINK_TEXT, value=link_text) instead
  page = driver.find_element_by_link_text('2').get_attribute('href')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2943841544.py:36: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2943841544.py:40: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  for i in driver.find_elements_by_class_name('product-base'):
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2943841544.py:46: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Product_Name.append(a[i].find_element_by_class_name('product-product').text.split('\n')[0])
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2943841544.py:51: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Product_Brand.append(a[i].find_element_by_class_name('product-brand').text.split('\n')[0])

                       Product_Name Product_Brand    Rate
1        Men Max Cushioning Running      Skechers    7199
2                      Men Sneakers          ALDO    9999
3    Men React Miler2 Running Shoes          Nike   11495
4     Men Charged Rouge 3 Run Shoes  UNDER ARMOUR    7999
5    Women React MR 3 Running Shoes          Nike    8920
..                              ...           ...     ...
96             Women Textured Mules       Bugatti    7999
97       Men Leather Formal Loafers     J.FONTINI    7490
98            Block Pumps with Bows          ALDO    8999
99            Women Leather Loafers     Cole Haan   11899
100                   Wedge Sandals          ALDO    7999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [19]:
#import selenium wedriver and time
from selenium import webdriver as wb
import time
from selenium.webdriver.support.select import Select

#use chromedriver
driver = wb.Chrome('chromedriver.exe')
driver.get('https://www.amazon.in/')
time.sleep(10)
#give input
driver.find_element_by_id('twotabsearchtextbox').send_keys('Laptop')
time.sleep(10)
#click on search button
driver.find_element_by_id('nav-search-submit-button').click()
time.sleep(10)
#click on i7 checkbox button
driver.find_element_by_id('p_n_feature_thirteen_browse-bin/12598163031').find_element_by_tag_name('span').click()
time.sleep(10)
#extract product data
d = driver.find_elements_by_xpath('//div[@class="a-section a-spacing-small a-spacing-top-small"]')
time.sleep(10)                                  

#extract product ratings,use exception due to unvavailabilty of data
from selenium.common.exceptions import NoSuchElementException
ratings = []
for i in range(31):
    try:
        ratings.append(d[i].find_elements_by_class_name('a-icon-alt')[0].get_attribute('innerHTML'))
    except (IndexError,NoSuchElementException) as error:
        ratings.append('Not available')


        
#extract product name,use exception due to unvavailabilty of data
from selenium.common.exceptions import NoSuchElementException
name = []
for i in range(31):
    try:
        name.append(d[i].find_element_by_xpath('*//span[@class="a-size-medium a-color-base a-text-normal"]').text)
    except (IndexError,NoSuchElementException) as error:
        name.append('Not available')
        
#extract product price,use exception due to unvavailabilty of data
from selenium.common.exceptions import NoSuchElementException
price = []
for i in range(31):
    try:
        price.append(d[i].find_element_by_class_name('a-price').text)
    except (IndexError,NoSuchElementException) as error:
        price.append('Not available')
        
#extract product ratings,use exception due to unvavailabilty of data
from selenium.common.exceptions import NoSuchElementException
ratings = []
for i in range(31):
    try:
        ratings.append(d[i].find_elements_by_class_name('a-icon-alt')[0].get_attribute('innerHTML'))
    except (IndexError,NoSuchElementException) as error:
        ratings.append('Not available')
                                  
#import pandas and extract data frame for 10 products
import pandas as pd
df = pd.DataFrame(zip(name,ratings,price),columns = ('Product_Name','Product_Ratings','Product_Price'))
df_8.index = [x for x in range(1, len(df_8.values)+1)]
df_8.iloc[0:10:]

C:\Users\anish\AppData\Local\Temp/ipykernel_15460/213328120.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/213328120.py:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('twotabsearchtextbox').send_keys('Laptop')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/213328120.py:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('nav-search-submit-button').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/213328120.py:17: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('p_n_feature_thirteen_browse-bin/12598163031').find_element_by_tag_name('span').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/213328120.py:17: DeprecationWarning: find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead
  driver.find_element_by_id('p_n_feature_thirteen_browse-bin/12598163031').find_element_by_tag_name('span').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/213328120.py:20: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  d = driver.find_elements_by_xpath('//div[@class="a-section a-spacing-small a-spacing-top-small"]')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/213328120.py:39: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  name.append(d[i].find_element_by_xpath('*//span[@class="a-size-medium a-color-base a-text-normal"]').text)
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/213328120.py:48: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  price.append(d[i].find_element_by_class_name('a-price').text)

,Product_Name,Product_Ratings,Product_Price
1,Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...,5.0 out of 5 stars,"₹1,29,990"
2,"MSI Katana GF66 Gaming, Intel i7-11800H, 15.6""...",5.0 out of 5 stars,"₹91,499"
3,Mi Notebook Ultra 3.2K Resolution Display Inte...,4.3 out of 5 stars,"₹77,999"
4,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",4.4 out of 5 stars,"₹57,490"
5,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,4.0 out of 5 stars,"₹85,890"
6,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,3.0 out of 5 stars,"₹79,990"
7,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",4.6 out of 5 stars,"₹89,990"
8,"HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...",4.3 out of 5 stars,"₹86,990"
9,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,4.5 out of 5 stars,"₹93,999"
10,Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...,4.4 out of 5 stars,"₹84,590"

In [32]:
df_8

,Product_Name,Product_Ratings,Product_Price
1,"MSI Modern 14, Intel i7-1195G7, 14"" FHD IPS-Le...",4.0 out of 5 stars,"₹76,490"
2,Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...,5.0 out of 5 stars,"₹1,29,990"
3,Mi Notebook Ultra 3.2K Resolution Display Inte...,4.3 out of 5 stars,"₹77,999"
4,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.4 out of 5 stars,"₹86,900"
5,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",4.4 out of 5 stars,"₹57,490"
6,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",4.6 out of 5 stars,"₹89,990"
7,HP Pavilion 15 12th Gen Intel Core i7 16GB SDR...,Not available,"₹92,400"
8,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,3.0 out of 5 stars,"₹79,990"
9,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,4.0 out of 5 stars,"₹85,890"
10,Acer Predator Helios 300 11th Gen Intel Core i...,5.0 out of 5 stars,"₹1,69,990"

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

First get the webpage https://www.ambitionbox.com/
Click on the Job option as shown in the image

In [20]:
#import selenium webdriver & time
from selenium import webdriver as wb
import time
from selenium.webdriver.support.select import Select

#extract data from url
driver = wb.Chrome('chromedriver.exe')
driver.get('https://www.ambitionbox.com/')
time.sleep(10)
#click on jobs
driver.find_elements_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[6]')[0].click()
time.sleep(5)
#Enter Data Scientist on the seatch bar
driver.find_element_by_name('ab_jobsSearch').send_keys('Data Scientist')
time.sleep(5)
#click on the seatch button
driver.find_element_by_class_name('ctas-btn-medium').click()
time.sleep(5)
#click search button on the location
driver.find_elements_by_class_name('icon-chevron-right')[1].click()
time.sleep(5)
#Select noida location
driver.find_element_by_id('location_Noida').click()
time.sleep(5)
#click on load more jobs
driver.find_elements_by_class_name('text-center')[0].click()
time.sleep(5)
#find the job text
other = driver.find_elements_by_class_name('other-info')

#Extract job Experience
Experience=[]
for i in range(len(other)):
    Experience.append(other[i].text.split('\n')[0])

#Extract job role
Job_Role=[]
for i in driver.find_elements_by_css_selector('div[itemprop="itemListElement"]'):
    Job_Role.append(i.find_elements_by_tag_name('h2')[0].text)
    
#Extract job Company
Company=[]
for i in driver.find_elements_by_css_selector('div[itemprop="itemListElement"]'):
    Company.append(i.find_elements_by_tag_name('p')[0].text)
    
#job ratings varies for each jpb post,counting the no of attributes in each post

a = driver.find_elements_by_css_selector('div[itemprop="itemListElement"]')

#We find each post has around 4 attributes with ratings
h = a[2].find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')

c = len(a[1].find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p'))

#Using exception extract salary info
b,Salary=[],[]
for i in a:
    b.append(len(i.find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')))
for i in range(20):
    if b[i]==c:
        Salary.append(a[i].find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')[1].text)
    else:
        Salary.append('Not Available')
        
#Using exception extract location info
b,Location=[],[]
for i in a:
    b.append(len(i.find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')))
for i in range(20):
    if b[i]==4:
        Location.append(a[i].find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')[2].text)
    else:
        Location.append(a[i].find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')[1].text)
        
#Extract dataframe by importing pandas
import pandas as pd

df_9 = pd.DataFrame(zip(Job_Role,Location,Salary,Company,Experience),columns=('Job_role','Location','Salary','Company','Experience'))
df_9.index = [x for x in range(1, len(df_9.values)+1)]
#extracting data for 10 posts
df_9.iloc[0:10]

C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:11: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  driver.find_elements_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[6]')[0].click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:14: DeprecationWarning: find_element_by_name is deprecated. Please use find_element(by=By.NAME, value=name) instead
  driver.find_element_by_name('ab_jobsSearch').send_keys('Data Scientist')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:17: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  driver.find_element_by_class_name('ctas-btn-medium').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:20: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  driver.find_elements_by_class_name('icon-chevron-right')[1].click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:23: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('location_Noida').click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:26: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  driver.find_elements_by_class_name('text-center')[0].click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:29: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  other = driver.find_elements_by_class_name('other-info')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:38: DeprecationWarning: find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead
  for i in driver.find_elements_by_css_selector('div[itemprop="itemListElement"]'):
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:39: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  Job_Role.append(i.find_elements_by_tag_name('h2')[0].text)
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:43: DeprecationWarning: find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead
  for i in driver.find_elements_by_css_selector('div[itemprop="itemListElement"]'):
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:44: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  Company.append(i.find_elements_by_tag_name('p')[0].text)
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:48: DeprecationWarning: find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead
  a = driver.find_elements_by_css_selector('div[itemprop="itemListElement"]')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:51: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  h = a[2].find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:53: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  c = len(a[1].find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p'))
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:58: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  b.append(len(i.find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')))
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:61: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  Salary.append(a[i].find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')[1].text)
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:68: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  b.append(len(i.find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')))
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:71: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  Location.append(a[i].find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')[2].text)
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/2112546139.py:73: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  Location.append(a[i].find_elements_by_class_name('other-info')[0].find_elements_by_tag_name('p')[1].text)

,Job_role,Location,Salary,Company,Experience
1,Data Scientist,Noida,Not Disclosed,Ericsson India Global Services Pvt. Ltd.,5-8 Yrs
2,Data Scientist- AI/ML- R&D,"Chennai, Pune, Delhi NCR +4 more",₹ 6.5-16.5 LPA,EXL Services.com ( I ) Pvt. Ltd.,2-6 Yrs
3,Data Scientist,"Bengaluru/Bangalore, Hyderabad/Secunderabad, G...",Not Disclosed,GENPACT India Private Limited,7-12 Yrs
4,Oracle HCM BI Technical Lead/Manager (People A...,Noida,Not Disclosed,TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED,7-12 Yrs
5,Hiring For Data Scientist + Python/R+ Predicti...,"Gurgaon/Gurugram, Noida",Not Disclosed,GENPACT India Private Limited,9-14 Yrs
6,Data Scientist - Immediate Joiners,"Pune, Mumbai, Bengaluru/Bangalore +1 more",Not Disclosed,Bristlecone India Limited,5-8 Yrs
7,Data Scientist - Machine Learning (5-14 yrs),"Bengaluru/Bangalore, Noida",Not Available,Zyoin,5-14 Yrs
8,Data Scientist- Fresher Opening - Newgen Softw...,Noida,₹ 3-5 LPA,Newgen Software Technologies Ltd.,0-2 Yrs
9,Data Scientist,"Bengaluru/Bangalore, Noida",Not Disclosed,Ashkom Media India Private Limited,3-6 Yrs
10,Senior Data Scientist,Noida,Not Disclosed,Pitney Bowes India Pvt Ltd,6-10 Yrs

Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:

First get the webpage https://www.ambitionbox.com/
Click on the salaries option as shown in the image.
After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”. You have to scrape the data ticked in the above image.
Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
Store the data in a dataframe. Note: All the steps required during scraping should be done through code only and not manually.

In [21]:
#import selenium, webdriver time
from selenium import webdriver as wb
import time
from selenium.webdriver.support.select import Select

#extract url
driver = wb.Chrome('chromedriver.exe')
driver.get('https://www.ambitionbox.com/')
time.sleep(3)
# Click on the salaries option
driver.find_elements_by_tag_name('a')[4].click()
time.sleep(3)
#After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist”  
driver.find_element_by_id('jobProfileSearchbox').send_keys('Data Scientist')
time.sleep(3)
#then click on “Data Scientist
driver.find_elements_by_class_name('icon-search')[0].click()
time.sleep(3)
#Extract job profile data
a = driver.find_elements_by_class_name('company-info-wrapper')
time.sleep(3)
#Calculate the length of product data,some dont have review rating
r = len(driver.find_elements_by_class_name('company-info-wrapper'))

#now split for all posts
b = []
for i in range(r):
    b.append(a[i].text.split('\n'))
    
#map using zip option
Company,No_of_Salaries,Job_Role,Dot,Experience = list(zip(*b))

#Extract salary info
s = driver.find_elements_by_class_name('salary-range-wrapper')

#Extract ranges of salary
d = []
for i in range(10):
    d.append(s[i].text.split('\n'))
    
#map using zip option
Average_Salary,Lowest_Salary,Highest_Salary = list(zip(*d))

#Import pandas
import pandas as pd

#Extract datafame
df_10 = pd.DataFrame(zip(Company,No_of_Salaries,Job_Role,Lowest_Salary,Average_Salary,Highest_Salary),columns=('Company','No_of_Salaries','Job_Role','Lowest_Salary','Average_Salary','Highest_Salary'))
df_10.index = [x for x in range(1, len(df_10.values)+1)]
#data for the first 10 posts
df_10

C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3789109197.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wb.Chrome('chromedriver.exe')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3789109197.py:11: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  driver.find_elements_by_tag_name('a')[4].click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3789109197.py:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('jobProfileSearchbox').send_keys('Data Scientist')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3789109197.py:17: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  driver.find_elements_by_class_name('icon-search')[0].click()
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3789109197.py:20: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  a = driver.find_elements_by_class_name('company-info-wrapper')
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3789109197.py:23: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  r = len(driver.find_elements_by_class_name('company-info-wrapper'))
C:\Users\anish\AppData\Local\Temp/ipykernel_15460/3789109197.py:34: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  s = driver.find_elements_by_class_name('salary-range-wrapper')

,Company,No_of_Salaries,Job_Role,Lowest_Salary,Average_Salary,Highest_Salary
1,Google,based on 21 salaries,Software Engineer,₹ 10.4L,₹ 33.1L,₹ 97.0L
2,Arista Networks,based on 13 salaries,Software Engineer,₹ 10.7L,₹ 24.7L,₹ 38.0L
3,Microsoft Corporation,based on 255 salaries,Software Engineer,₹ 13.0L,₹ 23.7L,₹ 45.0L
4,Goldman Sachs,based on 17 salaries,Software Engineer,₹ 12.0L,₹ 22.7L,₹ 34.0L
5,Tekion,based on 33 salaries,Software Engineer,₹ 12.0L,₹ 21.0L,₹ 33.0L
6,Amazon,based on 108 salaries,Software Engineer,₹ 8.0L,₹ 20.6L,₹ 45.0L
7,Flipkart,based on 62 salaries,Software Engineer,₹ 7.5L,₹ 20.4L,₹ 31.0L
8,PayPal,based on 27 salaries,Software Engineer,₹ 12.0L,₹ 20.2L,₹ 31.0L
9,Servicenow Software Development India,based on 54 salaries,Software Engineer,₹ 13.0L,₹ 20.2L,₹ 26.3L
10,Walmart,based on 82 salaries,Software Engineer,₹ 11.0L,₹ 19.8L,₹ 32.5L